  <footer>
<!--     <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p> -->
  </footer>
    <!--[if lt IE 9]>
    <script src="/src/assets/js/vendor/jquery/jquery.1.11.3.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="/assets/javascript/vendor/jquery/jquery.2.1.4.min.js"></script>
    <!--<![endif]-->
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    {% if page.page  == true %}
    <script src="/assets/javascript/vendor/slick/slick.min.js"></script>
    <script src="/assets/javascript/slick.js"></script>
    {% endif %}
    <!-- build:js /assets/javascript/all.min.js -->
    <script src="/assets/javascript/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
