/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

.logo {
  position:fixed;
  top:1rem;
  left:1rem;
  width: 2.5rem;
  height: 2.5rem;
  display:inline-block;
  z-index:10;
      img{
        width:50px;
      }
}
/* Style and "hide" the sidebar */

.sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  width:100%;
  //left: -14rem;
  //width: 14rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem;
  /* 15px */
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.8);

  //filter: blur(20px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  a {
    font-weight: normal;
    color: #000;
    text-align: center;
    
  }
}

/* Sidebar content */

.sidebar-item {
  padding: 1rem;
  p:last-child {
    margin-bottom: 0;
  }
}

/* Sidebar nav */
nav {
  max-width: 22rem;
    margin: 0 auto;
    font-size: 2.5rem;
}
.sidebar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  &.active {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent;
  }
}

a.sidebar-nav-item {
  &:hover, &:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent;
    text-decoration: underline;
  }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */

.sidebar-checkbox {
  display: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */

.sidebar-toggle {
  position: absolute;
  z-index: 11;
  top: 1rem;
  right: 1rem;
  display: block;
  width: 2.5rem;
  padding: .5rem .65rem;
  background: url(img/icon_hamburger.svg) center center no-repeat rgba(255, 255, 255, .6);
  background-size: 32px 32px;
  width: 4rem;
  height: 4rem;
  //background-color: #fff;
  cursor: pointer;
  &:active {
    color: #fff;
    //background-color: #505050;
  }
  &:checked {
    background: red;
  }
}

#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #fff;
  //background-color: #505050;
  background-color: rgba(255, 255, 255, .8);
  background: url(img/icon_close.svg);
  width:2.5rem;
  height:2.5rem;
  display: block;
}


/* Slide effect
 *
 * Handle the sliding effects of the sidebar and content in one spot, seperate
 * from the default styles.
 *
 * As an a heads up, we don't use `transform: translate3d()` here because when
 * mixed with `position: fixed;` for the sidebar toggle, it creates a new
 * containing block. Put simply, the fixed sidebar toggle behaves like
 * `position: absolute;` when transformed.
 *
 * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
 */

.wrap, .sidebar, .sidebar-toggle {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.wrap, .sidebar-toggle {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

#sidebar-checkbox:checked {
  background: url(img/icon_close.svg) center center no-repeat rgba(255, 255, 255, .6);
  background-color: transparent;
  background-size: 32px 32px;
  
  + .sidebar {
    visibility: visible;
  }
  ~ {
    .sidebar, .wrap, .sidebar-toggle {
     // -webkit-transform: translateX(14rem);
     // -ms-transform: translateX(14rem);
      //transform: translateX(14rem);
      //transform: translateX(0);
    }
  }
}

/*
  MEDIA QUERY
  -----------------------------------------------------
*/
@media (min-width: 48rem) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 30.1rem) {
  .sidebar-toggle {
    position: fixed;
    width: 2.25rem;
    height: 2.25rem;
    &:before {
      padding-bottom: .15rem;
      border-top-width: .45rem;
      border-bottom-width: .15rem;
    }
  }
}

@media (min-width: 30rem) {
  .sidebar {
    font-size: .75rem;
    /* 14px */
  }
}
