---
layout: page
title: Snow
page: true
category: Snow
discription: The people are what make snowboarding special. I reject the “sport” aspect and embrace the freedom to travel down a mountain based on one’s beliefs of how it could be done, without the need of a score at the end. 
img: https://placehold.it/226x226
order: 4
image-slider:
    - image-slider-path: /snow/thumb_austin_trollhaugen_crockett_2016.jpg
    - image-slider-path: /snow/thumb_austin_trollhaugen_crockett_2017.jpg
    - image-slider-path: /snow/thumb_dan_hyland_crockett_2017.jpg
    - image-slider-path: /snow/thumb_erich_buckhill_crockett_2015.jpg
    - image-slider-path: /snow/thumb_erich_tahoe_crockett_2013.jpg
images:
    - image-path: Dan_Hyland_Crockett_2017.jpg
    - image-path: austin_trollhaugen_crockett_2016.jpg
    - image-path: austin_trollhaugen_crockett_2017.jpg
    - image-path: erich_buckhill_crockett_2015.jpg
    - image-path: erich_tahoe_crockett_2013.jpg
    - image-path: jake_elmcreek_crockett_2016.jpg
    - image-path: jason_trollhaugen_crockett_2013.jpg
    - image-path: kyle_trollhaugen_crockett_2016.jpg
    - image-path: nick_alaska_crockett_2016.jpg
    - image-path: nick_mammoth_crockett_2012.jpg
    - image-path: shane_trollhaugen_crockett_2014.jpg
    - image-path: sherman_breck_crockett_2008.jpg
    - image-path: sy_keystone_crockett_2012.jpg
---

{% include aside.html %}	
<section class="is-3-of-4 t-break m-break">
    <div class="slider">
        {% for image in page.images %}
            <div class="slide">
                <img src="/assets/images/snow/{{ image.image-path }}">
            </div>
        {% endfor %}
    </div>
</section>
