---
layout: default
title: Home
---
<section>
  <div class="blocks clear">
    {% assign sorted = site.category | sort: 'order' %}
        {% for page in sorted %}
        <a class="block" href="{{ page.url }}">
        {% if page.img %}
        <img class="thumbnail" src="{{ page.img }}" >
         {% else %}
        <div class="thumbnail defualt"></div>
        {% endif %}
            <div class="inner">
                <h4 class="page-sub-title">{{ page.category }}</h4>
            </div>
        </a>
        {% endfor %}
  </div>
</section>